
<div class="main_component">
    <h1>Üdv a Regisztráción!</h1>
    
    <form [formGroup]="signUpForm" (keyup.enter)="onSubmit()">
        <div class="forms">
            <mat-form-field><mat-label for="email">Email: </mat-label><input matInput id="email" type="text" formControlName="email" /></mat-form-field>
            <div formGroupName="name">
                <mat-form-field><mat-label for="firstname">Keresztnév: </mat-label><input matInput id="firstname" type="text" formControlName="firstname" /></mat-form-field>
                
                <mat-form-field><mat-label for="lastname">Vezetéknév: </mat-label><input matInput id="lastname" type="text" formControlName="lastname" /></mat-form-field>
            </div>
            <mat-form-field><mat-label for="username">Felhasználónév: </mat-label><input matInput id="username" type="text" formControlName="username" /></mat-form-field>
            <mat-form-field><mat-label for="password">Jelszó: </mat-label><input matInput id="password" type="password" formControlName="password" /></mat-form-field>
            <mat-form-field><mat-label for="repassword">Jelszó újra: </mat-label><input matInput id="repassword" type="password" formControlName="repassword" /></mat-form-field>
        </div>
    </form>
    

    <span>
        <button mat-fab extended color="accent" type="submit" (click)="onSubmit()"><mat-icon>save</mat-icon>Mentés</button>
        <button mat-fab extended color="accent" (click)="back()"><mat-icon>redo</mat-icon>Vissza</button>
        
    </span>
    <mat-list>
      <mat-list-item>Legyél egy új közösség tagja!</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tegyél az egészségedért!</mat-list-item>
    </mat-list>

    
</div>


